@font-face {
   font-family: 'Poppins';
   src: url('../font/Poppins-Bold.woff2') format('woff2'),
       url('../font/Poppins-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Poppins';
   src: url('../font/Poppins-Medium.woff2') format('woff2'),
       url('../font/Poppins-Medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Poppins';
   src: url('../font/Poppins-SemiBold.woff2') format('woff2'),
       url('../font/Poppins-SemiBold.woff') format('woff');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

:root{
   --color-accent: #5E54A4;
   --color-error: #FF7979;
   --color-text: #f58300;
   --color-texts: #ffffff;
   --color-txt: #3D3B48;
   --bgcolor-buttun: #38CC8B;
}


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: 'Poppins','Arial', serif;
   background-image: url(../images/bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

img{
   max-width: 100%;
}

.container {
   width: 1110px;
   margin: 0 auto;
}

.contents-in-container {
   display: flex;
   justify-content: space-between;
   padding: 121px 0;
   color: #ffffff;
}

.main-card-texts {
   max-width: 525px;
}

.site-title {
   margin: 0;
   margin-top: 169px;
   font-weight: 700;
   font-size: 50px;
   line-height: 55px;
   letter-spacing: -0.520833px;
}

.site-desc {
   margin: 0;
   margin-top: 11px;
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;
}

.main-card-input {
   width: 540px;
}

.main-link {
   margin-bottom: 24px;
   padding: 17px 110px;
   display: block;
   font-size: 15px;
   line-height: 26px;
   text-decoration: none;
   color: #ffffff;
   background-color: var(--color-accent);
   box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
   border: 0;
   border-radius: 10px;
}

.main-link:hover{
   color: #000000;
}

.main-form {
   padding: 40px 40px;
   width: 540px;
   background-color: #ffffff;
   box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
   border-radius: 10px;
}

.form-control__wrapper{
   position: relative;
}

.main-form-input {
   position: relative;
   z-index: 1;
   margin-bottom: 20px;
   padding: 15px 32px;
   width: 460px;
   border: 2px solid var(--color-txt);
   border-radius: 5px;
}

.main-form-input:not(:focus):not(:placeholder-shown):invalid{
   background-image: url(../images/error.png);
   background-repeat: no-repeat;
   background-position: 400px center ;
   border-color: var(--color-error);
}

.form-control-error{
   position: absolute;
   bottom: 70px;
   right: 0;
   z-index: 1;
   display: none;
   margin: 0;
   padding: 5px;
   font-weight: 500;
   font-size: 11px;
   line-height: 16px;
   color: var(--color-error);
}

.main-form-input:not(:focus):not(:placeholder-shown):invalid ~ .form-control-error{
   display: block;
}

.main-form-button {
   padding: 15px 136px 15px 134px;
   width: 460px;
   color: #ffffff;
   background-color: var(--bgcolor-buttun);
   box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
   border: 0;
   border-radius: 5px;
}


.main-form-button:hover{
   background-color: #77E2B3;
}

.main-form-foot {
   margin-top: 8px;
   margin-left: auto;
   margin-right: auto;
   display: block;
   width: 369px;
   font-weight: 500;
   font-size: 11px;
   line-height: 26px;
   color: #BAB7D4;
}

.span-in {
   color: var(--color-text) ;
}

@media only screen and (max-width: 475px) {
   .contents-in-container{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
   }

   .main-card-texts{
      max-width: 327px;
   }

   .site-title{
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 28px;
      line-height: 36px;
      text-align: center;
   }

   .site-desc{
      margin-top: 0;
      margin-bottom: 64px;
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
   }

   .main-card-input{
      max-width: 327px;
   }

   .main-link{
      padding: 18px 66px;
      font-weight: 700;
      font-size: 15px;
      line-height: 26px;
   }

   .main-form{
      width: 100%;
      padding: 24px;
   }

   .form-control__wrapper{
      max-width: 327px;
   }

   .main-form-input{
      width: 100%;
      padding: 15px 19px;
   }

   .main-form-button{
      width: 100%;
      margin-bottom: 8px;
      padding: 15px 44px;
      font-weight: 600;
      font-size: 15px;
      line-height: 26px;
   }

   .main-form-foot{
      width: 249px;
      margin: 0 auto;
      font-weight: 500;
      font-size: 11px;
      line-height: 21px;
      text-align: center;
   }
}